.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .services-item {
    display: none;
    opacity: 0;
    position: absolute;

    border: solid 1px;
    border-image: linear-gradient(
        to right,
        $primary-color,
        $accent,
        $primary-color,
        $accent
      )
      100% 1;

    list-style: none;
    li {
      margin: 0.3rem;
    }
  }

  .v-menu__content {
    border: solid 1px $primary-color;
    width: fit-content;
  }

  .v-expansion-panels,
  .v-expansion-panel,
  .v-expansion-panel-header {
    background-color: black !important;
  }

  .v-expansion-panel-header {
    padding: 8px 16px;
    font-size: 0.85rem;
    width: 100%;

    p {
      white-space: nowrap;
    }

    .chevron-down {
      color: $primary-color;
    }

    background-image: linear-gradient(
      to right,
      $primary-color,
      $accent,
      $primary-color,
      $accent,
      $primary-color,
      $primary-color
    );
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    color: $primary-color-transparent;

    border: solid 1px black;
    &:hover,
    &:focus {
      border-top: solid 1px $primary-color;
      border-bottom: solid 1px $primary-color;
    }
  }

  .v-list-item {
    padding: 8px 16px;
    border: solid 1px black;

    &:hover,
    &:focus {
      border-top: solid 1px $primary-color;
      border-bottom: solid 1px $primary-color;
    }
  }

  .v-list-item__title {
    font-size: 0.85rem;
    cursor: pointer;
  }

  .v-menu__content {
    max-width: 100%;
  }

  .dropdown-btn {
    font-size: 1.4rem;
    text-transform: none;
    padding: 0 !important;
  }

  p {
    cursor: pointer;
    @include easeOut;
    width: min-content;
    border-bottom: 1px solid transparent;
    background-image: linear-gradient(
      to right,
      $primary-color,
      $accent,
      $primary-color,
      $accent
    );
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    color: $primary-color-transparent;

    // &:hover {
    //   border-bottom: 1px solid $primary-color;
    // }
  }

  .display {
    display: inline-block;
    opacity: 1;
    @include easeOut;
  }
}

// .menu {
//   .services-item {
//     top: 1em;
//     right: -0.5em;
//   }

//   .dropdown-arrow {
//     position: absolute;
//     top: 1.2rem;
//     right: 6rem;
//     font-size: 0.7rem;
//   }
// }

// footer {
//   .services-item {
//     top: -1em;
//     right: -4em;
//   }

//   .dropdown-arrow {
//     position: absolute;
//     font-size: 0.5rem;
//     top: 0.2rem;
//     right: 3.2rem;
//   }
// }
