.home {
  // display: flex;
  // flex-direction: column;

  max-width: 1400px;

  p {
    font-size: 5vw;
    padding: 0 1em;
    max-width: 100%;
  }

  .text-1,
  .text-2,
  .text-3 {
    background-image: linear-gradient(
      to right,
      $primary-color,
      $accent,
      $primary-color,
      $accent
    );

    @media screen and (min-width: 760px) {
      background-image: linear-gradient(
        to right,
        $primary-color,
        $accent,
        $primary-color,
        $accent,
        $primary-color,
        $accent,
        $primary-color
      );
    }

    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    color: $primary-color-transparent;
  }

  // @media screen and (min-width: 500px) {
  //   font-size: 0.9rem;
  // }
  // @media screen and (min-width: 600px) {
  //   font-size: 0.95rem;
  // }
  // @media screen and (min-width: 660px) {
  //   font-size: 0.9rem;
  // }

  // @media screen and (min-width: 1200px) {
  //   font-size: 1rem;
  // }

  .home-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
      "text-1"
      "portrait"
      "text-2"
      "text-3";
    @media screen and (min-width: 300px) {
      p {
        font-size: 4.5vw;
      }
    }

    @media screen and (min-width: 400px) {
      p {
        font-size: 4vw;
      }
    }

    @media screen and (min-width: 500px) {
      grid-template-columns: 40vw auto;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "portrait text-1"
        "portrait text-2"
        "text-3 text-3";
      p {
        font-size: 3vw;
      }
    }

    @media screen and (min-width: 700px) {
      grid-template-columns: 60% auto;
      grid-template-rows: auto auto auto;
      justify-items: center;
      align-items: flex-start;
      grid-template-areas:
        "portrait text-1"
        "portrait text-2"
        "portrait text-3";

      p {
        font-size: 2vw;
      }
    }

    @media screen and (min-width: 1200px) {
      grid-template-columns: 50% auto;
      p {
        font-size: 2vw;
      }
    }

    @media screen and (min-width: 1600px) {
      grid-template-columns: 45% auto;
      p {
        font-size: 1.6vw;
      }
    }

    @media screen and (min-width: 1800px) {
      grid-template-columns: 40% auto;
      p {
        font-size: 1.5vw;
      }
    }
    .v-image {
      margin: 1rem;

      @media screen and (min-width: 500px) {
        grid-area: portrait;
        margin: 0 1rem;
        height: auto;
        width: 100%;
      }
    }

    .text-1 {
      grid-area: text-1;
    }
    .text-2 {
      grid-area: text-2;
    }

    .text-3 {
      grid-area: text-3;

      padding: 0;

      @media screen and (min-width: 700px) {
        padding: 0 1em;
      }
    }
  }
}
