// Menu button is inside a header element

.navigation {
  color: $primary-color;
  background: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  // z-index: 100;
  // visibility: visible;
}

.navbar {
  display: none;
  border-bottom: solid 1px;
  border-image: linear-gradient(
      to right,
      $primary-color,
      $accent,
      $primary-color,
      $accent
    )
    100% 1;
  background-size: 100%;
  background-repeat: repeat;
  background-clip: border;
  ul {
    display: flex;
    list-style: none;
    margin: 0 3em;

    li {
      padding: 1em 0.2em;
      font-size: 0.9rem;
    }
  }
}

@import "menu";
@import "dropdown";
